---
export interface Props {
    caption: string;
    cssClass?: string;
    index: number;
    site: string;
    src: string;
    total: number;
}

const { caption, cssClass = "", index, site, src, total } = Astro.props;

// A random string with the syntax '[a-z][0-9]{3}-index-total'
const key = Math.random().toString(36).slice(2, 6) + "-" + index + "/" + total;
---

<div
    class={`work-item relative block m-0 p-2 pt-0 bg-gray-800 transform-gpu will-change-transform md:p-2 ${cssClass}`}
>
    <div class="work-inner block m-0 p-0">
        <a href={site} target="_blank" class="block no-underline">
            <video
                data-src={src}
                class="work-video block w-auto max-w-[50vw] h-auto max-h-[50vh] md:max-w-[80vw] md:max-h-[80vh]"
                loop
                muted
                playsinline
                width="1082"
                height="636"
            >
            </video>

            <div
                class="work-caption flex flex-row items-center justify-between p-2 text-white font-bold text-xs leading-none tracking-wider text-right uppercase md:hidden"
            >
                <div class="work-caption-text">
                    {caption}
                </div>

                <div class="work-caption-key">
                    #{key}
                </div>
            </div>
        </a>
    </div>
</div>

<script>
    class WorkItem extends HTMLElement {
        static observedAttributes = ["progress"];

        link: HTMLAnchorElement | null = null;
        video: HTMLVideoElement | null = null;
        isPlaying: boolean = false;

        connectedCallback() {
            // Elements
            this.video = this.querySelector(".work-video");
            this.link = this.querySelector("a");

            // Events
            if (this.link) {
                this.link.addEventListener("click", this.onClick.bind(this));
            }
        }

        attributeChangedCallback(
            name: string,
            oldValue: string | null,
            newValue: string | null,
        ) {
            if (name === "progress" && newValue) {
                this.style.setProperty("--progress", newValue);

                if (newValue === "1" || newValue === "-1") {
                    if (this.isPlaying) {
                        this.outView();
                    }
                } else {
                    if (!this.isPlaying) {
                        this.inView();
                    }
                }
            }
        }

        inView() {
            if (this.video) {
                this.video.play();
                this.isPlaying = true;
                this.classList.add("is-inview");
            }
        }

        outView() {
            if (this.video) {
                this.video.pause();
                this.isPlaying = false;
                this.classList.remove("is-inview");
            }
        }

        onClick(event: Event) {
            if (this.link && this.link.href.includes("#")) {
                event.preventDefault();
                return false;
            }
        }
    }

    // Only define if not already defined
    if (!customElements.get("work-item")) {
        customElements.define("work-item", WorkItem);
    }
</script>

<style>
    .work-item {
        content-visibility: hidden;
    }

    .work-item.is-inview {
        content-visibility: visible;
    }
</style>
